* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #5850ec;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(0.5, rgba(255, 255, 255, 0.2)),
		color-stop(0.5, transparent),
		to(transparent)
	);
	border-radius: 7px;
}

.navbar {
	padding: 1.2rem;
	border-bottom: 1px solid #eeeff1;
	position: sticky;
	top: 0px;
	background-color: #fff !important;
	z-index: 2;
}
.navbar-container {
	max-width: fit-content;
	margin: 0 auto;
}
.navbar-container a {
	color: black;
	text-decoration: none;
	padding: 0.3rem 0.9rem;
	font-size: 1.3rem;
	transition: transform;
}

.active {
	color: #7510f7 !important;
}

/* se  calculeaza scroll top de navbarwidht - cat margin-top are  */

#home {
	padding: 10px;
	padding-top: 15rem;
}

.home-top {
	text-align: center;
}

.home-middle {
	margin-top: 1rem;
	text-align: center;
	padding: 10px;
}

.home-bottom {
	margin-bottom: 10rem;
	margin-top: 6rem;
}

.about-me {
	width: fit-content;
	margin: 0 auto;
}

.about-btn {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1.5rem 2rem;
	border-radius: 9999px;
	outline: none;
	border: none;
	background-color: #5850ec;
	cursor: pointer;
}

.home-title {
	display: block;
	letter-spacing: -0.025rem;
	font-size: 5rem;
	font-weight: 700;
	padding: 0 5px;
	margin-bottom: 3rem;

	background: linear-gradient(#3f83f8, #7e3af2);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.home-paragraph {
	max-width: 600px;
	margin: 1rem auto !important;
	opacity: 0.7;
}

.home-subtitle {
	letter-spacing: -0.025em;
	color: rgba(22, 30, 46, 1);
	font-size: 2.5rem;
}

#about {
	padding-top: 8rem;
}
.about-top-middle {
	padding: 10px;
}

.about-top {
	text-align: center;
	margin: 0 auto;
}

.about-top h1 {
	font-weight: 800;
	font-size: 3rem;
}

.about-top h2 {
	font-weight: 300;
	opacity: 0.9;

	margin-top: 1.3rem;
}

.about-middle {
	max-width: 277px;
	margin: 6rem auto;
}

.description-box {
	background-color: #5850ec;
	text-align: center;
	padding: 1rem;
	padding-bottom: 7rem;
}

.description-title {
	color: #fff;
	font-size: 3rem;
	margin-top: 4rem;
}

.description {
	max-width: 900px;
	margin: 4rem auto !important;
	font-size: 1.5rem;
	opacity: 0.9;
	color: #fff;
}

.skills-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 1440px;
	margin: -6rem auto 0 auto;
	padding: 10px;
}

.box {
	max-width: 720px;
}

.box-title {
	text-align: center;
	padding: 1rem;
	font-size: 1.3rem;
	background: #fff;
	color: #5850ec;
}

.box-title.front {
	border-top-left-radius: 14px;
}

.box-title.back {
	border-top-right-radius: 14px;
}

.box-skills {
	padding: 0.5rem;
	background: #f3eaec;
}
.box-skills.front {
	border-bottom-left-radius: 14px;
}

.box-skills.back {
	border-bottom-right-radius: 14px;
}

.box-content {
	display: flex;
	background: #fff;
	border-radius: 7px;
	margin-top: 0.5rem;
	padding: 0.5rem;
}

.box-content > div {
	display: flex;
	align-items: center;
}

.skill-svg {
	padding-left: 2rem;
	min-height: 48px;
}

.skill-title {
	width: 100%;
	justify-content: center;
}

#projects {
	padding: 10px;
	padding-top: 10rem;
	padding-bottom: 16rem;
}
.projects-top {
	text-align: center;
}

.projects-top h1 {
	font-size: 3rem;
}

.projects-middle {
	text-align: center;
}

.projects-middle h2 {
	font-weight: 300;
	opacity: 0.9;
	margin-top: 2.5rem;
}

.highlight {
	color: #7510f7;
	opacity: 1 !important;
	text-decoration: none;
}

.projects-bottom {
	margin-top: 9rem;
}

.projects-container {
	margin: 0 auto;
	max-width: 1440px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.projects-content {
	position: relative;
	max-width: 720px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 7px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
}

.projects-content:hover .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
}

.overlay button {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem;
	border-radius: 14px;
	outline: none;
	background: transparent;
	border: 1px solid #5850ec;
	cursor: pointer;
	transition: background 0.5s;
	margin-bottom: 8rem;
}

.overlay button:hover {
	background-color: #5850ec;
}

.overlay h1 {
	color: white;
	font-size: 2rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
	color: #5850ec;
	margin-top: 8rem;
}

.wave-svg {
	margin-bottom: -10px;
	z-index: 0;
}
footer {
	background-color: #5850ec;
	padding: 1rem;
}

.contact-logo-svg {
	margin-left: 5rem;
}

.contact-otherwise-container {
	width: 100%;
}

.contact-otherwise {
	width: fit-content;
	font-size: 3rem;
	color: #fff;
	margin: 0 auto;
}

.footer-content {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.contact-logo {
	display: flex;
	align-items: center;
}

.contact-fill {
	position: relative;
	max-width: 720px;
	background-color: #f3eaec;
	border-radius: 7px;
	box-sizing: border-box;
	margin-top: -30rem;
	z-index: 1;
}

.contact-fill-title {
	border-bottom: 1px solid #5850ec;
	padding: 0 0.5rem;
	padding: 0.5rem;
}

.form-title {
	width: fit-content;
	margin: 0 auto;
	color: #5850ec;
	font-weight: bold;
	font-size: 2rem;
}

.form-content {
	padding: 1.5rem 2rem;
}

.contact-text-input {
	width: 100%;
	padding: 0.8rem;
	border-radius: 7px;
	outline: none;
	border: none;
	margin-top: 0.9rem;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 1rem;
}

.contact-text-input:focus {
	border: 1px solid #5850ec;
}

.contact-textarea {
	resize: none;
	width: 100%;
	border-radius: 7px;
	outline: none;
	border: none;
	margin-top: 0.9rem;
	border: 1px solid #fff;
	padding: 0.8rem;
}

.contact-textarea:focus {
	border: 1px solid #5850ec;
}

.contact-label {
	font-size: 1.5rem;
	color: #5850ec;
	font-weight: bold;
}

.form-submit {
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: center;
}

.form-submit-btn {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1rem 2rem;
	border-radius: 14px;
	outline: none;
	border: none;
	background-color: #5850ec;
	cursor: pointer;
}
.footer-copyright-container {
	margin-top: 5rem;
}
.footer-copyright {
	color: #fff;
	width: fit-content;
	margin: 0 auto;
	font-size: 1rem;
	opacity: 0.7;
	font-weight: 400;
}
.contact-logo .social {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 1.5rem;
}
@media only screen and (max-width: 1270px) {
	.footer-content {
		grid-template-columns: 1fr;
	}
	.contact-fill {
		margin: 2rem auto;
		min-width: 600px;
	}
	.contact-logo {
		flex-direction: column;
	}
	.contact-logo-svg {
		margin-left: 0;
	}
}

@media only screen and (max-width: 720px) {
	#home {
		margin-top: 3rem;
	}
	.projects-bottom {
		display: none;
	}
	.skills-box {
		grid-template-columns: 1fr;
	}
	.contact-fill {
		min-width: 0;
		width: 100%;
	}
	.contact-logo-svg {
		margin-left: 1rem;
	}
	.navbar {
		display: none;
	}
	.form-content {
		padding: 0.7rem 1.5rem;
	}
}
