* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #5850ec;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(0.5, rgba(255, 255, 255, 0.2)),
		color-stop(0.5, transparent),
		to(transparent)
	);
	border-radius: 7px;
}

.navbar {
	padding: 1.2rem;
	border-bottom: 1px solid #eeeff1;
	position: sticky;
	top: 0px;
	background-color: #fff !important;
	z-index: 2;
}
.navbar-container {
	max-width: fit-content;
	margin: 0 auto;
}
.navbar-container a {
	color: black;
	text-decoration: none;
	padding: 0.3rem 0.9rem;
	font-size: 1.3rem;
	transition: transform;
}

.active {
	color: #7510f7 !important;
}

#home {
	padding: 10px;
	padding-top: 15rem;
	/* se  calculeaza scroll top de navbarwidth - cat margin-top are  */
	scroll-margin-top: 4em;
}

.home-top {
	text-align: center;
}

.home-middle {
	margin-top: 1rem;
	text-align: center;
	padding: 10px;
}

.home-bottom {
	margin-bottom: 10rem;
	margin-top: 6rem;
}

.about-me {
	width: fit-content;
	margin: 0 auto;
}

.about-btn {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1.5rem 2rem;
	border-radius: 9999px;
	outline: none;
	border: none;
	background-color: #5850ec;
	cursor: pointer;
}

.about-btn:hover {
	background-color: rgb(88, 80, 236, 0.9);
}

.home-title {
	display: block;
	letter-spacing: -0.025rem;
	font-size: 5rem;
	font-weight: 700;
	padding: 0 5px;
	margin-bottom: 3rem;

	background: linear-gradient(#3f83f8, #7e3af2);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.home-paragraph {
	max-width: 600px;
	margin: 1rem auto !important;
	opacity: 0.7;
}

.home-subtitle {
	margin: 0 auto;
	letter-spacing: -0.025em;
	color: rgba(22, 30, 46, 1);
	font-size: 2.5rem;
}

#about {
	padding-top: 8rem;
}
.about-top-middle {
	padding: 10px;
}

.about-top {
	text-align: center;
	margin: 0 auto;
}

.about-top h1 {
	font-weight: 800;
	font-size: 3rem;
}

.about-top h2 {
	font-weight: 300;
	opacity: 0.9;

	margin-top: 1.3rem;
}

.about-middle {
	max-width: 277px;
	margin: 0 auto;
	margin-bottom: -6rem;
}

.description-box {
	background-color: #5850ec;
	text-align: center;
	padding: 1rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.description-title {
	color: #fff;
	font-size: 3rem;
	margin-top: 4rem;
}

.description {
	max-width: 900px;
	margin: 4rem auto !important;
	font-size: 1.5rem;
	opacity: 0.9;
	color: #fff;
}

.skills-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 1440px;
	margin: -6rem auto 0 auto;
	padding: 10px;
}

.box {
	max-width: 720px;
}

.box-title {
	text-align: center;
	padding: 1rem;
	font-size: 1.3rem;
	background: #fff;
	color: #5850ec;
}

.box-title.front {
	border-top-left-radius: 14px;
}

.box-title.back {
	border-top-right-radius: 14px;
}

.box-skills {
	padding: 0.5rem;
	background: #f3eaec;
}
.box-skills.front {
	border-bottom-left-radius: 14px;
}

.box-skills.back {
	border-bottom-right-radius: 14px;
}

.box-content {
	display: flex;
	background: #fff;
	border-radius: 7px;
	margin-top: 0.5rem;
	padding: 0.5rem;
}

.box-content > div {
	display: flex;
	align-items: center;
}

.skill-svg {
	padding-left: 2rem;
	min-height: 48px;
}

.skill-svg img {
	width: 48px;
}

.skill-title {
	width: 100%;
	justify-content: center;
}
.skill-title {
	visibility: hidden;
}
#projects {
	padding: 10px;
	padding-top: 10rem;
	padding-bottom: 16rem;
}
.projects-top {
	text-align: center;
}

.projects-top h1 {
	font-size: 3rem;
}

.projects-middle {
	text-align: center;
}

.projects-middle h2 {
	font-weight: 300;
	opacity: 0.9;
	margin-top: 2.5rem;
}

.highlight {
	color: #7510f7;
	opacity: 1 !important;
	text-decoration: none;
}

.projects-bottom {
	margin-top: 9rem;
}

.projects-container {
	margin: 0 auto;
	max-width: 1440px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.projects-content {
	position: relative;
	max-width: 720px;
	visibility: hidden;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 7px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	visibility: hidden;
}

.projects-content:hover .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
	visibility: visible;
}

.overlay button {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem;
	border-radius: 14px;
	outline: none;
	background: transparent;
	border: 1px solid #5850ec;
	cursor: pointer;
	transition: background 0.5s;
	margin-bottom: 8rem;
}

.overlay button:hover {
	background-color: #5850ec;
}

.overlay h1 {
	color: white;
	font-size: 2rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
	color: #5850ec;
	margin-top: 8rem;
}
.splide {
	display: none;
}

.wave-svg {
	margin-bottom: -10px;
	z-index: 0;
}
footer {
	background-color: #5850ec;
	padding: 1rem;
}

.contact-otherwise-container {
	width: 100%;
}

.contact-otherwise {
	width: fit-content;
	font-size: 3rem;
	color: #fff;
	margin: 0 auto;
}

.footer-content {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.contact-logo {
	display: flex;
	align-items: center;
}

.contact-fill {
	position: relative;
	max-width: 720px;
	background-color: #f3eaec;
	border-radius: 7px;
	box-sizing: border-box;
	margin-top: -30rem;
	z-index: 1;
}

.contact-fill-title {
	border-bottom: 1px solid #5850ec;
	padding: 0 0.5rem;
	padding: 0.5rem;
}

.form-title {
	width: fit-content;
	margin: 0 auto;
	color: #5850ec;
	font-weight: bold;
	font-size: 2rem;
}

.form-content {
	padding: 1.5rem 2rem;
}

.contact-text-input {
	width: 100%;
	padding: 0.8rem;
	border-radius: 7px;
	outline: none;
	border: none;
	margin-top: 0.9rem;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 1rem;
}

.contact-text-input:focus {
	border: 1px solid #5850ec;
}

.contact-textarea {
	resize: none;
	width: 100%;
	border-radius: 7px;
	outline: none;
	border: none;
	margin-top: 0.9rem;
	border: 1px solid #fff;
	padding: 0.8rem;
}

.contact-textarea:focus {
	border: 1px solid #5850ec;
}

.contact-label {
	font-size: 1.5rem;
	color: #5850ec;
	font-weight: bold;
}

.form-submit {
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: center;
}

.form-submit-btn {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1rem 2rem;
	border-radius: 14px;
	outline: none;
	border: none;
	background-color: #5850ec;
	cursor: pointer;
}
.form-submit-btn:hover {
	background-color: rgb(88, 80, 236, 0.9);
}
.footer-copyright-container {
	margin-top: 5rem;
}

.footer-copyright {
	color: #fff;
	width: fit-content;
	margin: 0 auto;
	font-size: 1rem;
	font-weight: 400;
}

.contact-logo .social {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 1.5rem;
}

.contact-logo-svg {
	transition: transform 1s;
	margin-left: 5rem;
	min-width: 130px;
}
.contact-logo-svg:hover {
	transform: scale(1.3);
}

.reveal {
	animation: top-bottom 0.5s ease-in-out forwards;
}

@keyframes top-bottom {
	from {
		visibility: hidden;
		transform: scale(0);
	}
	to {
		visibility: visible;
		transform: scale(1);
	}
}

@media only screen and (min-width: 2360px) {
	#home {
		padding-top: 25rem;
		padding-bottom: 10rem;
	}
	.home-title {
		font-size: 6.5rem;
	}
	.home-subtitle {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 1270px) {
	.projects-bottom {
		display: none;
	}
	.footer-content {
		grid-template-columns: 1fr;
	}

	.splide {
		display: block;
		margin-top: 10rem;
	}
	.projects-content {
		max-width: 1440px;
		margin: 0 auto;
	}
	.contact-fill {
		margin: 2rem auto;
		min-width: 600px;
	}

	.contact-logo {
		flex-direction: column;
	}

	.contact-logo-svg {
		margin-left: 0;
	}
}

@media (max-width: 920px) and (max-height: 420px) {
	.navbar {
		display: none;
	}
	#home {
		padding-top: 5rem;
	}
	#about {
		padding-top: 0;
	}
}
@media only screen and (max-width: 720px) {
	#home {
		padding-top: 7rem;
	}
	#about {
		padding-top: 1rem;
	}

	.box-title.front {
		border-top-right-radius: 14px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.box-title.back {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top-right-radius: 14px;
		border-top-left-radius: 14px;
	}
	.box-skills.back {
		border-bottom-left-radius: 14px;
	}

	.skills-box {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.contact-fill {
		min-width: 0;
		width: 100%;
	}

	.contact-logo-svg {
		margin-left: 1rem;
	}

	.navbar {
		display: none;
	}

	.form-content {
		padding: 0.7rem 1.5rem;
	}
}
@media only screen and (max-width: 390px) {
	.home-subtitle {
		font-size: 2rem;
	}
	.overlay h1 {
		font-size: 1.8rem;
	}

	.home-subtitle {
		font-size: 1.9rem;
	}
}
@media only screen and (min-width: 280px) {
	.home-title {
		font-size: 4rem;
	}
	.home-subtitle {
		font-size: 2rem;
	}
	.contact-logo-svg {
		min-width: 100px !important;
	}
}
